nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    background-color:#9e9e9e4e;
    backdrop-filter: blur(5px);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;

    .left, .right{
        display: flex;
        gap: 1rem;
    }
}