.window{
    height:400px;
    width: 600px;
    background-color: rgba(52, 50, 50, 0.923);
    overflow: hidden;

    color: rgb(168,168,168);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;

    .nav{
        padding-inline: 0.40rem;
        padding-block: 0.30rem;
        border-bottom: 1px solid rgba(245,245,245,0.24);
        


        display: flex;
        gap: 0.50rem;
        align-items: center;

        .dots{
            display: flex;
            gap: 0.20rem;

             .dot{
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background-color: whitesmoke;
        }

        .red{
            background-color: rgb(209, 14, 14);
        }
        .yellow{
            background-color: rgb(205, 205, 8);
        }
        .green{
            background-color: rgb(23,190,1);
        }
        }
       
    }

    
}