
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Helvetica Neue", sans-serif;
  overflow: hidden;
}

/* body */

main {
  height: 100%;
  width: 100%;

  background: url("mac-wall2.jpg") center / cover no-repeat;

  display: flex;
  flex-direction: column;
}

/* nav  */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0.35rem 0.85rem;

  color: white;
  font-size: 13px;
  font-weight: 500;

  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);

  z-index: 1000;

  .left,
  .right {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    img {
      width: 18px;
      filter: invert(1);
    }

    p {
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

/*window base */

.window {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  background: rgba(28, 28, 28, 0.75);

  backdrop-filter: blur(40px) saturate(200%);
  -webkit-backdrop-filter: blur(40px) saturate(200%);

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.15);

  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);

  color: rgba(255, 255, 255, 0.9);

  overflow: hidden;
}

/* WINDOW HEADER  */

.window .nav {
  height: 38px;

  flex-shrink: 0;

  padding: 0 0.85rem;

  display: flex;
  align-items: center;

  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  cursor: grab;

  position: relative;
}

.window .nav .dots {
  display: flex;
  gap: 8px;
}

.window .nav .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.red {
  background: #ff5f57;
  cursor: pointer;
}

.yellow {
  background: #febc2e;
}

.green {
  background: #28c840;
}

.window .nav .title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  font-size: 13px;
  font-weight: 600;

  color: rgba(255, 255, 255, 0.4);
}

/* window main-content */

.window .main-content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  overflow-x: hidden;
}

/* Scrollbar */

.window .main-content::-webkit-scrollbar {
  width: 6px;
}

.window .main-content::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
}

/* github */

.cards {
  display: flex;
  flex-wrap: wrap;

  gap: 1.5rem;
  padding: 1.5rem;

  justify-content: center;
}

.card {
  flex: 1 1 250px;
  max-width: 300px;

  background: rgba(255, 255, 255, 0.05);

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;

  padding: 1.2rem;

  display: flex;
  flex-direction: column;

  gap: 0.8rem;

  transition: 0.2s;
}

.card:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: translateY(-4px);
}

.card img {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  object-fit: cover;
}

/* notes */

.note-window {
  height: 100%;
}

.note-window pre {
  background: transparent !important;
  overflow: auto;
}

/* resume */

.resume-window {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.resume-window embed {
  flex: 1;

  width: 100%;
  height: 100%;

  border: none;
}


/*spotify */
.spotify-window {
  flex: 1;

  display: flex;
}

.spotify-window iframe {
  flex: 1;

  width: 100%;
  height: 100%;

  border: none;
}



/* TERMINAL  */

.cli-window {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cli-window > div {
  flex: 1;
  overflow: auto;
  background: transparent !important;
}

.context-menu {
  position: fixed;   /* VERY IMPORTANT */
  background: rgba(30, 30, 30, 0.95);
  color: white;

  border-radius: 8px;
  padding: 6px 0;

  min-width: 180px;

  box-shadow: 0 8px 25px rgba(0,0,0,0.4);

  z-index: 9999;
  font-size: 14px;
}

.context-menu p {
  padding: 8px 16px;
  margin: 0;
  cursor: pointer;
}

.context-menu p:hover {
  background: rgba(255,255,255,0.1);
}
.desktop {
  width: 100vw;
  height: 100vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;
}


