.dock{
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.5rem;
    gap: 0.5rem;

    background-color: rgb(63, 63, 63,0.395);
    padding-inline: 0.80rem;
    padding-block: 0.30rem;
    backdrop-filter: blur(2px);

    .icon{
        padding: 0.50rem;
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        width: 3.50rem;
        cursor: pointer;
        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
        
    }


  .github { background-color: #181717; }
  .calender { 
    background-color: #FFFFFF; 
    border: 1px solid #ddd;
    color: #FF3B30; 
}
  .cli { background-color: #000000; border: 1px solid #444; } 
  .note { background-color: #FFD400; } 
  .link { background-color: #007AFF; } 
  .pdf { background-color: #FF2D55; } 
  .spotify { background-color: #1DB954; }
  .mail { 
    background: linear-gradient(180deg, #1E9AFE 0%, #1FB2FE 100%); 
  }

    .icon:hover{
        transform: scale(1.3) translateY(-20%);
    }

    .icon:hover+ .icon,
    .icon:has(+ .icon:hover){
        transform: scale(1.1) translateY(-10%);
    }
}

