.dock {
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(15px) saturate(180%);
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 1.25rem;
  padding: 0.5rem;
  gap: 0.8rem;
  align-items: flex-end; 

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    aspect-ratio: 1/1;
    border-radius: 0.8rem; 
    cursor: pointer;
    
   
    transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1), 
                margin 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    
    transform-origin: bottom; 
  }

  
  .github { background-color: #181717; }
  .calender { 
    background-color: #FF9500;
    border: 1px solid #a17435;
    color: #FF3B30; 
  }
  .cli { background-color: #000000; border: 1px solid #444; } 
  .note { background-color: #FFD400; } 
  .link { background-color: #007AFF; } 
  .pdf { background-color: #FF2D55; } 
  .spotify { background-color: #1DB954; }
  .mail { 
    background: linear-gradient(180deg, #1E9AFE 0%, #1FB2FE 100%); 
  }

 .icon:hover{
        transform: scale(1.3) translateY(-18%);
    }

    .icon:hover+ .icon,
    .icon:has(+ .icon:hover){
        transform: scale(1.1) translateY(-10%);
    }

    img {
    width: 65%;   /* Icon image size */
    height: 65%;
    object-fit: contain;
    pointer-events: none; /* Click sirf div par jaye */
  }
}


